body{
    background-color: blue;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 3px;
    margin-top: 5px;
}
